@import url(css/reset.css)


body {
    background-color: #004C56;
    margin: 5%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card {
    background-color: #FFFDD0;
    padding: 10px;
    border-radius: 10px;
    height: auto;
    min-width: 220px;
    margin: 6%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}


.hidden {
    border-radius: 118px;
    padding-left: 10%;
    padding-right: 20%;
}

.details-container {
    flex: 1;
    align-self: self-end;
}

p {
    font-weight: bold;
}

.details-container p, h2 {
    justify-self: center;
}

.avatar-container {
    flex: 2;
    flex-basis: 250px;
    align-self: self-start;
}

.header,
.first-line {
    color: #004C56;
}

.photo {
    width: 100%;
    max-width: 220px;

}

.header .phone {
    color: black;
}

@media screen and (max-width: 600px) {
    body {
        background-color: pink;
    }
    .hidden {
        content-visibility: hidden;
    }
}

@media screen and (min-width: 601px) and (max-width: 899px) {
    body {background-color: #004C56;

    }
    .hidden {
        content-visibility: hidden;
    }
}


@media screen and (min-width: 900px) {
    body { background-color: #F9D160;
    
 }

       .card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-flow:  space-evenly;
    }
   
    
   
}

@media screen and (min-width: 1100px) {    
    body { background-color: lightcoral;
        background-image: url(images/laura2.jpg);
 }

    
    .hidden {
        padding-left: 10%;
        padding-right: 16%;
        flex-direction: column;
        flex: auto;     
        content-visibility: visible; 
        position-visibility: unset; 
    }

    .card {
        max-height: 450px;
    }
   
}






  